{% extends "base.html" %}
{% block title %}Rules List{% endblock %}
{% block blockTitle %}Shop{% endblock %}

{% block content %}



  <center><h1>Liczba punktów: {{userSaldo}} </h1></center><br>


          <div class="row el-element-overlay">
            <div class="col-lg-3 col-md-6">
              <div class="card">
                <div class="el-card-item">
                  <div class="el-card-avatar el-overlay-1">
                    <img src="../../static/assets/images/big/pepsi.jpg" alt="user" />
                    <div class="el-overlay">
                      <ul class="list-style-none el-info">
                        <li class="el-item">
                          <a
                            class="
                              btn
                              default
                              btn-outline
                              image-popup-vertical-fit
                              el-link
                            "
                            href="../../static/assets/images/big/pepsi.jpg"
                            ><i class="mdi mdi-magnify-plus"></i></a>
                        </li>
<!--                         <li class="el-item">
                          <a
                            class="btn default btn-outline el-link"
                            href="javascript:void(0);"
                            ><i class="mdi mdi-link"></i
                          ></a>
                        </li> -->
                      </ul>
                    </div>
                  </div>
                  <div class="el-card-content">
                    <h4 class="mb-0">Wybrany napój</h4>
                    <span class="text-muted">20 PKT</span>
                  </div>
                </div>
              </div>
            </div>
             <div class="col-lg-3 col-md-6">
              <div class="card">
                <div class="el-card-item">
                  <div class="el-card-avatar el-overlay-1">
                    <img src="../../static/assets/images/big/lunch.jpg" alt="user" />
                    <div class="el-overlay">
                      <ul class="list-style-none el-info">
                        <li class="el-item">
                          <a
                            class="
                              btn
                              default
                              btn-outline
                              image-popup-vertical-fit
                              el-link
                            "
                            href="../../static/assets/images/big/lunch.jpg"
                            ><i class="mdi mdi-magnify-plus"></i
                          ></a>
                        </li>
<!--                         <li class="el-item">
                          <a
                            class="btn default btn-outline el-link"
                            href="javascript:void(0);"
                            ><i class="mdi mdi-link"></i
                          ></a>
                        </li> -->
                      </ul>
                    </div>
                  </div>
                  <div class="el-card-content">
                    <h4 class="mb-0">Pyszny obiad</h4>
                    <span class="text-muted">50 PKT</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-md-6">
              <div class="card">
                <div class="el-card-item">
                  <div class="el-card-avatar el-overlay-1">
                    <img src="../../static/assets/images/big/laptop-case.jpg" alt="user" />
                    <div class="el-overlay">
                      <ul class="list-style-none el-info">
                        <li class="el-item">
                          <a
                            class="
                              btn
                              default
                              btn-outline
                              image-popup-vertical-fit 
                              el-link
                            "
                            href="../../static/assets/images/big/laptop-case.jpg"
                            ><i class="mdi mdi-magnify-plus"></i
                          ></a>
                        </li>
<!--                         <li class="el-item">
                          <a
                            class="btn default btn-outline el-link"
                            href="javascript:void(0);"
                            ><i class="mdi mdi-link"></i
                          ></a>
                        </li> -->
                      </ul>
                    </div>
                  </div>
                  <div class="el-card-content">
                    <h4 class="mb-0">Torba do laptopa</h4>
                    <span class="text-muted">80 PKT</span>
                  </div>
                </div>
              </div>
            </div>            
            <div class="col-lg-3 col-md-6">
              <div class="card">
                <div class="el-card-item">
                  <div class="el-card-avatar el-overlay-1">
                    <img src="../../static/assets/images/big/voucher.jpg" alt="user" />
                    <div class="el-overlay">
                      <ul class="list-style-none el-info">
                        <li class="el-item">
                          <a
                            class="
                              btn
                              default
                              btn-outline
                              image-popup-vertical-fit
                              el-link
                            "
                            href="../../static/assets/images/big/voucher.jpg"
                            ><i class="mdi mdi-magnify-plus"></i
                          ></a>
                        </li>
                        <li class="el-item">
<!--                           <a
                            class="btn default btn-outline el-link"
                            href="javascript:void(0);"
                            ><i class="mdi mdi-link"></i
                          ></a> -->
                        </li>
                      </ul>
                    </div>
                  </div>
                  <div class="el-card-content">
                    <h4 class="mb-0">Voucher o wartości do 100 zł</h4>
                    <span class="text-muted">100PKT</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-md-6">
              <div class="card">
                <div class="el-card-item">
                  <div class="el-card-avatar el-overlay-1">
                    <img src="../../static/assets/images/big/pendrive-kartasd.jpg" alt="user" />
                    <div class="el-overlay">
                      <ul class="list-style-none el-info">
                        <li class="el-item">
                          <a
                            class="
                              btn
                              default
                              btn-outline
                              image-popup-vertical-fit
                              el-link
                            "
                            href="../../static/assets/images/big/pendrive-kartasd.jpg"
                            ><i class="mdi mdi-magnify-plus"></i
                          ></a>
                        </li>
<!--                         <li class="el-item">
                          <a
                            class="btn default btn-outline el-link"
                            href="javascript:void(0);"
                            ><i class="mdi mdi-link"></i
                          ></a>
                        </li> -->
                      </ul>
                    </div>
                  </div>
                  <div class="el-card-content">
                    <h4 class="mb-0">Pendrive / Karta SD - dowolna pojemność</h4>
                    <span class="text-muted">120 PKT </span>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-md-6">
              <div class="card">
                <div class="el-card-item">
                  <div class="el-card-avatar el-overlay-1">
                    <img src="../../static/assets/images/big/headphones.jpg" alt="user" />
                    <div class="el-overlay">
                      <ul class="list-style-none el-info">
                        <li class="el-item">
                          <a
                            class="
                              btn
                              default
                              btn-outline
                              image-popup-vertical-fit
                              el-link
                            "
                            href="../../static/assets/images/big/headphones.jpg"
                            ><i class="mdi mdi-magnify-plus"></i
                          ></a>
                        </li>
<!--                         <li class="el-item">
                          <a
                            class="btn default btn-outline el-link"
                            href="javascript:void(0);"
                            ><i class="mdi mdi-link"></i
                          ></a> -->
                        </li>
                      </ul>
                    </div>
                  </div>
                  <div class="el-card-content">
                    <h4 class="mb-0">Słuchawki</h4>
                    <span class="text-muted">400 PKT</span>
                  </div>
                </div>
              </div>
            </div>
           <div class="col-lg-3 col-md-6">
              <div class="card">
                <div class="el-card-item">
                  <div class="el-card-avatar el-overlay-1">
                    <img src="../../static/assets/images/big/yubikey.jpg" alt="user" />
                    <div class="el-overlay">
                      <ul class="list-style-none el-info">
                        <li class="el-item">
                          <a
                            class="
                              btn
                              default
                              btn-outline
                              image-popup-vertical-fit
                              el-link
                            "
                            href="../../static/assets/images/big/yubikey.jpg"
                            ><i class="mdi mdi-magnify-plus"></i
                          ></a>
                        </li>
<!--                         <li class="el-item">
                          <a
                            class="btn default btn-outline el-link"
                            href="javascript:void(0);"
                            ><i class="mdi mdi-link"></i
                          ></a>
                        </li> -->
                      </ul>
                    </div>
                  </div>
                  <div class="el-card-content">
                    <h4 class="mb-0">Dwa klucze Yubikey</h4>
                    <span class="text-muted">600 PKT</span>
                  </div>
                </div>
              </div>
            </div>       
            <div class="col-lg-3 col-md-6">
              <div class="card">
                <div class="el-card-item">
                  <div class="el-card-avatar el-overlay-1">
                    <img src="../../static/assets/images/big/phone.jpg" alt="user" />
                    <div class="el-overlay">
                      <ul class="list-style-none el-info">
                        <li class="el-item">
                          <a
                            class="
                              btn
                              default
                              btn-outline
                              image-popup-vertical-fit
                              el-link
                            "
                            href="../../static/assets/images/big/phone.jpg"
                            ><i class="mdi mdi-magnify-plus"></i
                          ></a>
                        </li>
                        <li class="el-item">
<!--                           <a
                            class="btn default btn-outline el-link"
                            href="javascript:void(0);"
                            ><i class="mdi mdi-link"></i
                          ></a> -->
                        </li>
                      </ul>
                    </div>
                  </div>
                  <div class="el-card-content">
                    <h4 class="mb-0">Telefon</h4>
                    <span class="text-muted">1500 PKT</span>
                  </div>
                </div>
              </div>
            </div>                  





{% endblock %}